@import url(./_layout.css);
@import url(./_typographic.css);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: var(--primary-font);
    font-size: 62.5%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    background-color: #f6f6f6;
}