/* ================ GOOGLE FONTS ================ */
/* ++++++++++++ Typography one ++++++++++++ */
/* ++++++++++++ Typography two ++++++++++++ */
/* ++++++++++++ Typography 'n' ++++++++++++ */


/* ================ FONTS VARIABLES ================ */
:root {
    --primary-font: "Arial", sans-serif;
    --secondary-font: "Example Two", sans-serif;
    --n-font: "Example N", sans-serif;
}


/* ================ FONTS SIZES ================ */
/* ++++++++++++ HEADINGS ++++++++++++ */
h1 {
    font-size: clamp(6.4rem, 6vw, 7.2rem);
}

h2 {
    font-size: clamp(5.2rem, 5.2vw, 6.4rem);
}

h3 {
    font-size: clamp(4rem, 4.4vw, 5.2rem);
}

h4 {
    font-size: clamp(3.2rem, 3.2vw, 4rem);
}

h5 {
    font-size: clamp(2.4rem, 2.8vw, 3.2rem);
}

h6 {
    font-size: clamp(1.6rem, 2vw, 2.4rem);
}


/* ++++++++++++ BODY TEXT ++++++++++++ */
p {
    font-size: clamp(1.4rem, 2vw, 1.6rem);
}